.gallery {
    background-color: lavenderblush;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.info-container {
    position: relative;
    background: rgb(254, 240, 255);
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .gallery {
        display: block;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .gallery {
        display: block;
    }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .gallery {
        display: block;
    }

    .card-container {
        grid-template-columns: 1fr;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .gallery {
        display: block;
    }

    .card-container {
        grid-template-columns: 1fr;
    }
}