.break-btn-div {
    display: flex;
    gap: 10px;
    margin: 10px;
    padding-top: 20px;
}

.add-btn2 {
    background-color: lightseagreen;
    color: darkblue;
    font-size: 18px;
    border: none;
    padding: 10px;
    border-radius: 50%;

}

.add-btn2:hover {
    color: aquamarine;
}